<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/add_agent.css">
    <title>Add Agent</title>
</head>
<body>
    
        <div class="font-sans">
                <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
                    <div class="relative sm:max-w-sm w-full">
                        <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
                        <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
                        <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                            <label  class="block text-sm text-gray-700 text-center font-semibold">
                                ADD AGENT
                            </label>
                            <form method="POST" action="/office/add_agent" class="mt-10">
                                                
                                
                                <div class="mt-7">                
                                    <input type="number" name="ID" placeholder="ID" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>

                                <div class="mt-7">                
                                    <input type="text" name="name" placeholder="Name" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>
            
                                <div class="mt-7">                
                                    <input type="tel" name="contact" placeholder="Contact" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>
            
                                <div class="mt-7">                
                                    <input type="number" name="admin" placeholder="admin" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>

                                <div class="mt-7">                
                                    <input type="text" name="username" placeholder="username" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>

                                <div class="mt-7">                
                                    <input type="password" name="password" placeholder="password" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">                           
                                </div>

                               
            
                                
                    
                                <div class="mt-7">
                                    <button class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                       ADD
                                    </button>
                                </div>
                    
                               
                              
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
</body>

</html>